@import url(https://fonts.googleapis.com/css?family=Lato);

html, body { height: 100%; margin: 0; padding: 0; font-family: "Lato", "Helvetica", "Arial", "sans-serif"}

#map
{
    width: 600px;
    height: 450px;
    margin: 0 auto;
}

#logo {
    text-align: center;
}

.row {
    margin-top: 1%;
    height: 100%;
}

